
.tabla-Todo{   
    width: 90%;
    border-collapse: collapse;
    margin: 2% 5% 5% 5%;
    align-self: center;
}

.fila-encabezado {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 1%;
  }

.fila {
  padding: 10px 20px 10px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.celda-img{
  width: 20%;
}

.celda-text{
  width: 15%;
}

.celda-button{
  width: 20%;
}
